@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: url("../images/124416-miui-8-rainy-weather-background-minimal-hd\ \(1\).png");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  height: 100vh;
  font-family: "Poppins", sans-serif;
}

.current-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.date-container {
  font-weight: 100;
}
.date-container .time {
  font-size: 70px;
}

.date-container #am-pm {
  font-size: 30px;
  margin-left: 20px;
}

.date-container .date {
  font-size: 30px;
}

.place-container {
  text-align: end;
}

.place-container .time-zone {
  font-size: 30px;
  font-weight: 100;
}

.place-container .country {
  font-size: 12px;
  font-weight: 700;
}

.current-info .others {
  display: flex;
  flex-direction: column;
  color: rgb(255, 255, 255);
  font-weight: bold;
  padding: 20px;
  margin: 10px 0;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border:1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.current-info .others .weather-item {
  display: flex;
  justify-content: space-between;
}

.future-forecast {

  position: fixed;
  bottom: 0;
  display: flex;
  color: rgb(29, 135, 221);
  width: 100%;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
}

.future-forecast .today {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  color: rgb(255, 255, 255);
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border:1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.future-forecast .today .day {
  padding: 5px 15px;
  color: rgb(52, 151, 197);
  border-radius: 50px;
  text-align: center;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.952), rgba(221, 221, 221, 0.651));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border:1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.future-forecast .today .temp {
  font-size: 18px;
  padding-top: 15px;
}

.future-forecast .weather-forecast {
  display: flex;
}

.weather-forecast .weather-forecast-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
  padding: 15px;
  background: linear-gradient(180deg, rgba(241, 241, 241, 0.1), rgba(255, 255, 255, 0.904));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border:1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.weather-forecast .weather-forecast-item .day {
  padding: 5px 15px;
  border-radius: 50px;
  text-align: center;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.952), rgba(221, 221, 221, 0.651));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border:1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.weather-forecast .weather-forecast-item .temp {
  font-weight: 100;
  font-size: 12px;
}

@media only screen and (max-width: 730px) {
  .future-forecast {
    justify-content: start;
    align-items: none;
    overflow-y: scroll;
  }

  .future-forecast .today .temp {
    font-size: 16px;
  }

  .date-container .time {
    font-size: 50px;
  }

  .date-container #am-pm {
    font-size: 20px;
  }

  .date-container .date {
    font-size: 20px;
  }

  .place-container {
    text-align: end;
    margin-top: 15px;
  }

  .place-container .time-zone {
    font-size: 20px;
  }

  .current-info .others {
    padding: 12px;
  }

  .current-info .others .weather-item {
    font-size: 14px;
  }
}

@media only screen and (max-width: 1400px) {
  .future-forecast {
    padding-left: 15px;
    justify-content: start;
    align-items: none;
    overflow-x: scroll;
  }
}
